<form [formGroup]="registerForm" (ngSubmit)="register()" class="lg:px-[134px] lg:py-[145px] p-10">
  <h2 class="font-sans font-bold text-[30px] pb-10">Create Account</h2>
  <div class="flex flex-col gap-4">
    <div class="flex gap-2.5">
      <app-input-field
        [controller]="firstName"
        [id]="'firstName'"
        [label]="'First Name'"
        placeholder="Ahmed"
        class="w-full"
      ></app-input-field>
      <app-input-field
        [controller]="lastName"
        [id]="'lastName'"
        [label]="'Last Name'"
        placeholder="Abdallah"
        class="w-full"
      ></app-input-field>
    </div>
    <app-input-field
      [controller]="username"
      [id]="'username'"
      [label]="'User Name'"
      placeholder="user123"
    ></app-input-field>
    <app-input-field
      [controller]="email"
      [id]="'email'"
      [label]="'Email'"
      placeholder="user@example.com"
      type="email"
    ></app-input-field>
    <app-input-field
      [controller]="phone"
      [id]="'phone'"
      [label]="'Phone'"
      type="tel"
    ></app-input-field>

    <app-input-field
      [controller]="password"
      [id]="'password'"
      [label]="'Password'"
      placeholder="********"
      type="password"
    ></app-input-field>
    <app-input-field
      [controller]="rePassword"
      [id]="'rePassword'"
      [label]="'Confirm Password'"
      placeholder="********"
      type="password"
      class="mb-5"
    ></app-input-field>
    <app-button [label]="'Create Account'"></app-button>

    <span class="text-gray-400 text-center mt-5 font-medium"
      >Already have an account?
      <span class="text-primary cursor-pointer" routerLink="/login">Login</span></span
    >
  </div>
</form>
