<section class="pe-5 sm:ps-5">
  <app-header
    [icon]="'pi pi-user'"
    [isBack]="true"
    [navigateUrl]="'/account'"
    title="Account Settings"
  ></app-header>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-4 flex flex-col p-5 gap-5 justify-between bg-white h-full">
      <ul class="list-none">
        <li [routerLink]="['profile']" [routerLinkActive]="['active']">
          <a
            pRipple
            class="flex items-center text-gray-500 cursor-pointer p-4 text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
          >
            <i class="pi pi-user mr-2"></i>
            <span class="font-medium">Profile</span>
          </a>
        </li>
        <li [routerLink]="['change-password']" [routerLinkActive]="['active']">
          <a
            pRipple
            class="flex items-center text-gray-500 cursor-pointer p-4 text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
          >
            <i class="pi pi-lock mr-2"></i>
            <span class="font-medium">Change Password</span>
          </a>
        </li>
      </ul>
      <app-button
        [icon]="'pi pi-sign-out'"
        [iconPos]="'left'"
        [label]="'Logout'"
        typeButton="alert"
        [loading]="loading()"
        (click)="logout()"
      ></app-button>
    </div>

    <div class="col-span-12 lg:col-span-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
