<section class="px-5">
  <div class="flex items-center gap-2 my-5">
    <span
      [routerLink]="['../']"
      class="pi cursor-pointer pi-arrow-circle-left md:text-3xl py-5 px-2 border border-primary text-primary h-full w-fit"
    ></span>
    <div class="bg-primary w-full flex items-center text-white p-5 font-semibold md:text-3xl">
      <span class="pi pi-user md:text-3xl me-4"></span>
      <h2>Account Settings</h2>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-4 flex flex-col p-5 gap-5 justify-between bg-white h-full">
      <ul class="list-none">
        <li [routerLink]="['profile']" [routerLinkActive]="['active']">
          <a
            pRipple
            class="flex items-center text-gray-500 cursor-pointer p-4 text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
          >
            <i class="pi pi-user mr-2"></i>
            <span class="font-medium">Profile</span>
          </a>
        </li>
        <li [routerLink]="['change-password']" [routerLinkActive]="['active']">
          <a
            pRipple
            class="flex items-center text-gray-500 cursor-pointer p-4 text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
          >
            <i class="pi pi-lock mr-2"></i>
            <span class="font-medium">Change Password</span>
          </a>
        </li>
      </ul>
      <app-button
        [icon]="'pi pi-sign-out'"
        [iconPos]="'left'"
        [label]="'Logout'"
        typeButton="alert"
        [loading]="loading()"
        (click)="logout()"
      ></app-button>
    </div>

    <div class="col-span-12 lg:col-span-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
