<div
  (click)="navigateTo()"
  class="relative cursor-pointer overflow-hidden rounded-xl shadow-md transition-all duration-300 hover:shadow-xl group"
>
  <img
    class="w-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-110 sm:h-[200px] md:h-[250px]"
    [src]="subject().icon"
    [alt]="subject().name"
  />

  <div
    class="absolute inset-0 bg-black/10 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
  ></div>

  <h2
    class="absolute bottom-4 inset-x-4 md:inset-x-8 lg:inset-x-6 bg-white/90 backdrop-blur-sm text-center p-3 rounded-lg shadow-sm font-bold text-gray-800 transition-all duration-300 group-hover:bottom-6 group-hover:shadow-lg"
  >
    {{ subject().name }}
  </h2>
</div>
