<form
  [formGroup]="changePasswordForm"
  (ngSubmit)="changePassword()"
  class="flex justify-center items-start flex-col bg-white p-5 w-full"
>
  <div class="flex flex-col gap-4 w-full">
    <app-input-field
      [controller]="controls.oldPassword"
      [id]="'password'"
      [label]="'Current Password'"
      placeholder="********"
      type="password"
    ></app-input-field>
    <app-input-field
      [controller]="controls.password"
      [id]="'newPassword'"
      [label]="'New Password'"
      placeholder="********"
      type="password"
    ></app-input-field>
    <app-input-field
      [controller]="controls.rePassword"
      [id]="'rePassword'"
      [label]="'Confirm New Password'"
      placeholder="********"
      type="password"
      class="mb-5"
    ></app-input-field>
    <app-button [loading]="loading()" [label]="'Update Password'"></app-button>
  </div>
</form>
