<form
  [formGroup]="resetForm"
  (ngSubmit)="resetPassword()"
  class="flex justify-center items-start flex-col min-h-screen p-10 w-full"
>
  <h2 class="font-sans font-bold text-[30px] pb-2.5">Create a New Password</h2>
  <p class="text-gray-600 mb-10">Create a new strong password for your account.</p>

  <div class="flex flex-col gap-4 w-full">
    <app-input-field
      [controller]="controls.password"
      [id]="'password'"
      [label]="'New Password'"
      placeholder="********"
      type="password"
    ></app-input-field>
    <app-input-field
      [controller]="controls.rePassword"
      [id]="'newPassword'"
      [label]="'Confirm New Password'"
      placeholder="********"
      type="password"
      class="mb-10"
    ></app-input-field>
    <app-button label="Reset Password" [loading]="loading()"></app-button>

    <span class="text-gray-400 text-center mt-5 font-medium"
      >Don’t have an account?
      <span class="text-primary cursor-pointer" [routerLink]="['/register']"
        >Create yours</span
      ></span
    >
  </div>
</form>
