@import 'tailwindcss';
@import 'tailwindcss-primeui';

@import 'primeicons/primeicons.css';

:root {
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #991b1b;
  --color-red-800: #7f1d1d;
  --color-red-900: #450a0a;
  --color-red-950: #1f0a0a;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bedbff;
  --color-blue-300: #8ec5ff;
  --color-blue-400: #50a2ff;
  --color-blue-500: #2b7fff;
  --color-blue-600: #155dfc;
  --color-blue-700: #193cb8;
  --color-blue-800: #1c398e;
  --color-blue-900: #162456;
  --color-blue-950: #0e1733;

  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d0fae5;
  --color-emerald-200: #a4f4cf;
  --color-emerald-300: #5ee9b5;
  --color-emerald-400: #00d492;
  --color-emerald-500: #00bc7d;
  --color-emerald-600: #009966;
  --color-emerald-700: #007a55;
  --color-emerald-800: #006045;
  --color-emerald-900: #004f3b;
  --color-emerald-950: #002c22;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;

  --color-primary: var(--color-blue-600);
  --color-primary-hover: var(--color-blue-700);
  --color-primary-active: var(--color-blue-700);
  --color-primary-contrast: #ffffff;

  --color-success: var(--color-emerald-500);
  --color-danger: var(--color-red-500);
  --color-text: var(--color-gray-800);
  --color-surface: #ffffff;

  --font-base: 'Geist Mono', monospace;
  --font-sec: 'Inter', sans-serif;
}

:root {
  --p-primary-color: var(--color-primary);
  --p-primary-hover-color: var(--color-primary-hover);
  --p-primary-active-color: var(--color-primary-active);
  --p-primary-color-text: var(--color-primary-contrast);

  --p-success-color: var(--color-success);
  --p-danger-color: var(--color-danger);
}

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);
  --color-primary: var(--color-blue-600);
  --color-primary-hover: var(--color-blue-700);
  --color-primary-active: var(--color-blue-700);

  --color-success-50: var(--color-emerald-50);
  --color-success-100: var(--color-emerald-100);
  --color-success-200: var(--color-emerald-200);
  --color-success-300: var(--color-emerald-300);
  --color-success-400: var(--color-emerald-400);
  --color-success-500: var(--color-emerald-500);
  --color-success-600: var(--color-emerald-600);
  --color-success-700: var(--color-emerald-700);
  --color-success-800: var(--color-emerald-800);
  --color-success-900: var(--color-emerald-900);
  --color-success-950: var(--color-emerald-950);

  --color-danger-50: var(--color-red-50);
  --color-danger-100: var(--color-red-100);
  --color-danger-200: var(--color-red-200);
  --color-danger-300: var(--color-red-300);
  --color-danger-400: var(--color-red-400);
  --color-danger-500: var(--color-red-500);
  --color-danger-600: var(--color-red-600);
  --color-danger-700: var(--color-red-700);
  --color-danger-800: var(--color-red-800);
  --color-danger-900: var(--color-red-900);
  --color-danger-950: var(--color-red-950);

  --color-gray-50: var(--color-gray-50);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-600: var(--color-gray-600);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);
  --color-gray-950: var(--color-gray-950);

  --font-sans: var(--font-sec);
  --font-mono: var(--font-base);

  --color-success: var(--color-emerald-600);
  --color-danger: var(--color-red-600);
  --color-base: var(--color-text);
  --color-surface: var(--color-surface);
}

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  font-family: var(--font-base);
}

/* Input Tel */
.iti {
  width: 100%;
  display: flex;
  align-items: center;
}

.iti input {
  width: 100%;
  border: 1px solid var(--color-gray-200);
  border-radius: none;
  padding: 10px 20px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.iti__country-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999;
  background: white;
  border: 1px solid var(--color-gray-200);
  border-radius: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.iti input:focus {
  border-color: var(--color-primary-500);
  box-shadow: 0 0 0 1px var(--color-primary-200);
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
  border-color: var(--color-danger);
}

/* Toast */

.custom-toast {
  background-color: var(--color-gray-800);
  color: white;
  border: none;
  border-radius: 0;
  box-shadow: 0px 6px 13.1px 4px #0000001a;
}

.success .p-icon {
  color: var(--color-success);
}
.error .p-icon {
  color: var(--color-danger);
}
.p-toast-message-content {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 10px;
}
.p-toast-summary {
  display: flex;
  padding-top: 7px;
  justify-items: center;
  align-items: center;
}
.p-password-toggle-mask-icon {
  cursor: pointer;
}
.otp-field {
  @apply outline-gray-300 rounded-md px-2 py-2 text-center;
}

.otp-field:focus {
  @apply outline-primary;
}

.ng-invalid.ng-touched .otp-field {
  @apply outline-danger;
}
.active a {
  @apply bg-primary-100 text-primary border;
}
.dots .p-button {
  background: none;
  width: fit-content;
  border: none;
  outline: none;
  @apply text-color border-none;
}
.p-menu-submenu-label {
  padding: 0;
}
.drawer-btn .p-button {
  border: none;
  margin-top: 10px;
  margin-left: 5px;
}

.p-breadcrumb-item-icon {
  padding: 0;
  width: 0;
  height: 0;
}

.active-breadcrumb a {
  @apply text-primary font-bold;
}

.breadcrumb-item a {
  @apply text-gray-500;
}
.p-breadcrumb-separator::before {
  content: '/';
}
.p-breadcrumb-separator svg {
  display: none;
}
.btn-alert button {
  @apply bg-danger-100 text-danger border-none hover:text-danger-700 hover:bg-danger-200;
}
