<form
  [formGroup]="otpFrom"
  (ngSubmit)="verifyCode()"
  class="flex justify-center items-start flex-col min-h-screen p-10 w-full"
>
  <span (click)="changeSteps(1)" class="cursor-pointer block mb-10">
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="0.75" y="0.75" width="38.5" height="38.5" stroke="#E5E7EB" stroke-width="1.5" />
      <path
        d="M14 16L10 20M10 20L14 24M10 20H30"
        stroke="#1F2937"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </span>
  <h2 class="font-sans font-bold text-[30px]">Verify OTP</h2>
  <p class="pt-2 text-gray-600 text-lg">Please enter the 6-digit code we have sent to:</p>
  <p class="pb-10 text-lg text-start w-full">
    <span class="font-semibold text-gray-500">{{ email() }}</span>
    <span
      class="text-primary cursor-pointer ml-2 underline-offset-2 underline"
      (click)="changeSteps(1)"
      >Edit</span
    >
  </p>

  <app-input-field
    class="text-center w-full"
    [controller]="controls.resetCode"
    [id]="'codes'"
    label="otp"
    type="otp"
  ></app-input-field>

  <p class="text-gray-400 text-sm text-center mb-10 w-full">
    You can request another code in: @if (timer()!=0) {
    <span class="font-semibold text-gray-500">{{ timer() }}s</span>
    } @else {
    <span class="font-bold text-primary cursor-pointer" (click)="requestCode()"
      >Request new code</span
    >
    }
  </p>
  <app-button label="Verify Code" class="w-full" [loading]="loading()"></app-button>

  <p class="text-gray-400 text-center mt-6 font-medium w-full">
    Don’t have an account?
    <span class="text-primary cursor-pointer" routerLink="/register">Create yours</span>
  </p>
</form>
